<% layout('layouts/boilerplate')%>
        <div class="container" style="height:430px;background-color: white;">
            <div class="row">
                <div class="col-md-5 image-container">
                    <img src="https://i.pinimg.com/originals/c6/ff/ce/c6ffce1259af672c9380c2d81c6b3ceb.png" style="height:430px; width:600px; margin-left:-15px;">
                </div>
                <div class="col-md-7" style="height:430px;display: flex;flex-direction: column;justify-content: center;">  
                    <h1 style="font-size: 100px; color: rgb(180, 103, 253);padding:10px">EaseMyBill</h1>
                </div>
            </div>
        </div>
        </div>
        <div style="font-size:20px;text-align: center;background-color: white;">
            <p>We provide an online journal and billing system for local vendors and small scale service providers.</p>
            <p>EaseMyBill makes it easy to manage stocks,create bills and invoices,receive and keep track of payments.</p>
            <p>The online invoices make viewing business activities and follow-up of payments smooth,simple and hasle-free.</p>
            <p>See how online invoices will help to improve your business without spending a cent!!</p>
        </div>